body {backgroung-color:#3efaf7;text-align:justify;front-size:18px;}
h1{text-align:center;background-color:#2FBDBA;color:#17313B;}
h3{text-align:justify;color:#1f7a79;}
b{color:blue;front-size:18px;}
i{coolor:blue;front-szie:18px;}
header,footer{background-color:#499CBA;color:#ceeffc;text-align:center;front-size:20px;boader:black solid 2px;}
main{background-color:#8ddefc;}
nav li{text-transform:uppercase;list-style:none;display:inline;margin-left: 10px;text-align:right;}
nav a{color:rgb(119,19,250);text-decorantion:none,text-align:right;}
.PRIMEIROPARAGRAFO{text-align:justify;font-size 18px;border:black solid 2px;padding; 10px;margin: 10px;}
#TITULOIMAGEM{width:5%;height: 5%;}
#lista01{display:block;text-align:center;}
#lista02{display:inline-block;}
